#!/usr/bin/env ruby

passthrough '/assets/*'

compile '/static/**/*' do
end

route '/static/**/*' do
  # /static/foo.html → /foo.html
  "/assets" + item.identifier.to_s.sub(/\A\/static/, '')
end

KRAMDOWN_OPTS = {toc_levels: [2,3], auto_ids: true, syntax_highlighter: "rouge"}

compile '/**/*.html' do
  filter :erb
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

# This is an example rule that matches Markdown & ERB (.md.erb) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
compile '/**/*.md.erb' do
  filter :erb
  filter :kramdown, KRAMDOWN_OPTS
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s.delete_suffix('.md')
  else
   write item.identifier.without_ext.delete_suffix('.md') + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
